
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default box box-info">
            <div class="panel-body">
                <div class="page-header">
                    <small>Assign leave</small>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="employee" class="col-sm-2 control-label">Employee id</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="employee" placeholder="Employee" data-ng-model="newLeave.employee_id" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="leaveType" class="col-sm-2 control-label">Leave type</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="leaveType" placeholder="Leave type" data-ng-model="newLeave.leaveType" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="leaveBenefits" class="col-sm-2 control-label">Leave type</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="leaveBenefits" placeholder="Leave benefits" data-ng-model="newLeave.leaveBenefits" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="startDate" class="col-sm-2 control-label">Start date</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="startDate" placeholder="Start date" data-ng-model="newLeave.startDate" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="endDate" class="col-sm-2 control-label">End date</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="endDate" placeholder="End date" data-ng-model="newLeave.endDate" required>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-dropbox btn-group-lg" data-ng-click="addLeave()">save</button>
                                <button type="reset" class="btn btn-google-plus  btn-group-lg">Cancel</button>
                            </div>
                        </form>
                        <br />
                        <button class="btn" id="tog">Open table</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="tab">
    <div class="col-lg-12">
        <div class="panel panel-default box box-info">
            <div class="panel-body">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <small>Staff leave</small>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div>
                                    <input type="text" class="form-control" id="form-group-input" placeholder="search" ng-model="filter.name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <button class="btn" id="tog">Open table</button>
                        <br /><br />
                        <table class="table-responsive table table-hover table-condensed">
                            <thead>
                            <th>#</th>
                            <th><a href="" ng-click="sortField = 'employee_id'; reverse = !reverse">Employee id</a></th>
                            <th><a href="" ng-click="sortField = 'leave_type'; reverse = !reverse">Leave type</a></th>
                            <th><a href="" ng-click="sortField = 'leave_benefits'; reverse = !reverse">Leave benefits</a></th>
                            <th><a href="" ng-click="sortField = 'start_date'; reverse = !reverse">Start date</a></th>
                            <th><a href="" ng-click="sortField = 'end_date'; reverse = !reverse">End date</a></th>
                            <th></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="leave in leaveData | filter:filter.name | limitTo:5 | orderBy:sortField:reverse" ng-click="editLeave($index)" class="repeat-animation">
                                    <th scope="row">*</th>
                                    <td ng-bind="leave.employee_id"></td>
                                    <td ng-bind="leave.leave_type"></td>
                                    <td ng-bind="leave.leave_benefits"></td>
                                    <td ng-bind="leave.start_date"></td>
                                    <td ng-bind="leave.end_date"></td>
                                    <td ng-click="remove(id)"><span class="glyphicon-remove"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pull-right">
                            <button class="btn btn-google-plus btn-group-lg" ng-click="finish()">Finish</button>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#tog").click(function () {
        $("#tab").slideToggle();
    });
</script>
